@font-face {
  font-family: 'PokeFontSolid';
  src: local('PokeFontSolid'), url(./fonts/PokemonSolid.ttf) format('woff');
}

@font-face {
  font-family: 'PokeFontHollow';
  src: local('PokeFontHollow'), url(./fonts/PokemonHollow.ttf) format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(60, 60, 60);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.App-title {
  font-family: PokeFontSolid;
  font-size: 50px;
  line-height: 60px;
  color: rgb(240, 240, 240);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

@media only screen and (max-width: 768px) {
  .App {
    background-color: rgb(50, 50, 50);
  }
}
